{% extends "layout.html.twig" %}

{% block title %}Ajouter un Taxi{% endblock %}

{% block content %}
<div class="text-center mt-3">
      <img src="{{ asset('photos/typo2.png')}}" alt="logo"></div>
<div class="form1 mx-auto border border-danger rounded p-4 mt-5 ">
{% if app.request.get('_route') == "app_taxis_add"%}
<h1 class="text-center mt-2">Ajouter de Véhicule </h1>
{% else %}
<h1 class="text-center mt-2">Modification de Véhicule</h1>
{% endif %}

{{ form(formTaxis) }}
</div>

{% endblock %}