{% extends 'layout.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block content %}
<div class="text-center mt-3">
      <img src="{{ asset('photos/typo2.png')}}" alt="logo"></div>
    <div  class="form1 mx-auto border border-danger rounded p-4 mt-5 ">
    <h1 class="text-center mt-2">RESERVATION</h1>
    {{ form(formBooking) }}
    </div>
    
{% endblock %}
